body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #0a0a1a;
    color: white;
}

/* LOGIN */
.login-container {
    width: 350px;
    margin: 120px auto;
    text-align: center;
    padding: 25px;
    background: #1a1a33;
    border-radius: 10px;
}

.login-container input {
    width: 90%;
    padding: 12px;
    margin: 10px 0;
    border-radius: 6px;
    border: none;
}

.login-container button {
    width: 95%;
    padding: 12px;
    margin-top: 10px;
    background: #00e6b8;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

#loginError {
    color: #ff6666;
    margin-top: 10px;
}

/* DASHBOARD */
.hidden {
    display: none;
}

.dashboard {
    width: 90%;
    margin: 30px auto;
}

.nav {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.logout-btn {
    background: #ff4d4d;
    padding: 10px 15px;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    color: white;
}

.form-section {
    background: #1a1a33;
    padding: 20px;
    border-radius: 8px;
}

.form-section input {
    width: 23%;
    margin: 8px;
    padding: 10px;
    border-radius: 6px;
    border: none;
}

.save-btn {
    width: 150px;
    padding: 10px;
    background: #00e6b8;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.search-box {
    margin-top: 20px;
}

.search-box input {
    width: 100%;
    padding: 12px;
    border-radius: 6px;
    border: none;
}

table {
    width: 100%;
    margin-top: 20px;
    background: #1a1a33;
    border-radius: 10px;
    overflow: hidden;
    border-collapse: collapse;
}

thead {
    background: #00e6b8;
    color: black;
}

table th, table td {
    padding: 13px;
    text-align: center;
}

.action-btn {
    padding: 6px 10px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.edit {
    background: #ffcc00;
}

.delete {
    background: #ff4d4d;
}
